@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
}

.navicon {
  border-style: none;
  background-color: #f8f9fa;
  font-size: 2em;
}

#botnavbar {
  display: table-column !important;
}

.navicon:hover {
  color: #f29a01;
}
