@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
  text-align: justify !important;
}
.street {
  text-decoration: underline;
}

hr {
  color: #f29a01 !important;
}

#cardnav {
  background-color: #f29a01;
  border-style: none;
}

h4,
h2 {
  color: #f29a01 !important;
}
