@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
  text-align: ;
  padding-bottom: 65px;
}
.street {
  text-decoration: underline;
}

hr {
  color: #f29a01 !important;
}

#cardnav {
  background-color: #f29a01;
  border-style: none;
  width: 50%;
  margin: auto;
}

h4,
h2 {
  color: #f29a01 !important;
}

#wifiicon {
  font-size: 1.6rem !important;
}

#iconcol {
  text-align: right;
}

#officeinfo {
  text-align: ;
  letter-spacing: 1px;
}
