@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif !important;
}

body {
}

.index-body {
  overflow: hidden;
}

.list-btn {
  position: absolute;
  background-color: white;
  border: 1px solid white;
  box-shadow: 2px 3px 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(117, 117, 117);
  border-radius: 100px;
  right: 0;
  top: 86%;
  margin-right: 10px;
}

.list-btn:hover {
  color: #f29a01 !important;
}

/* GOOGLE MAPS CSS */

#googleMap {
  position: relative;
}

#pac-input {
  background-color: #fff;
  border: none;
  margin: 10px;
  font-size: 16px;
  height: 40px;
  border-radius: 40px;
  width: 95%;
  padding-left: 30px;
}

/* HEADER CSS */
.header-style * {
  background-color: #f29a01;
  height: 8%;
  text-align: center;
  padding: 5%;
  font-weight: bold;
  margin: 0;
}

/* LOGIN CSS */
.form-wrapper {
  margin: 10px;
}

.form-shadow {
  box-shadow: 0px 8px 6px #ddd inset;
}

.geo-button {
  position: absolute;
  box-shadow: 2px 3px 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(34, 34, 34);
  right: 10;
  margin-right: 10px;
  top: 69%;
  color: white;
  background-color: white !important;
}

.btn-outline-primary {
  border: none !important;
  color: #666 !important;
  border-radius: 20px !important;
  background-image: url(//maps.gstatic.com/mapfiles/maps_lite/images/2x/my_location_grey600_24dp.png) !important;
  padding: 0 !important;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center 8px;
}

.btn-outline-primary:hover {
  color: #f29a01 !important;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  background-color: #f1f1f1;
  cursor: pointer;
  background-color: #f29a01;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.favicon {
  color: #f29a01;
}

a.titellink {
  text-decoration: none !important;
  color: #f29a01 !important;
  font-size: 18px;
}

.profile-btn {
  background-color: #f29a01 !important;
}
