* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 65px;
}

.list-btn {
  position: absolute;
  background-color: #eee;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(34, 34, 34);
  border-radius: 100px;
  right: 0;
  top: 70%;
  margin-right: 10px;
}

/* GOOGLE MAPS CSS */

#googleMap {
  position: relative;
}

#pac-input {
  background-color: #fff;
  border: none;
  margin: 10px;
  font-family: Roboto;
  font-size: 16px;
  height: 40px;
  border-radius: 40px;
  width: 95%;
  background-image: url(../img/loupe.png) no-repeat scroll 7px 7px;
  padding-left: 30px;
}

input[type='text'] {
  width: 80%;
  padding: 10px 20px;
  margin: 10px 5px;
  box-sizing: border-box;
}

/* LOGIN CSS */

.login-container {
  box-shadow: 0px 10px 5px #ddd;
  height: 150px;
}
